{% extends "form_base.html" %}

{% block method %}post{% endblock %}
{% block action %}{% url "login" %}{% endblock %}
{% block submit %}Log in{% endblock %}

{% block content %}

<div class="mb-3 mt-3">
    <label for="username" class="form-label">Username:</label>
    <input type="text" class="form-control" id="username" placeholder="Enter username" name="username", value="{{ form.username.value|default_if_none:'' }}">
    {% if form and "username" in form.errors %}
    <ul class="text-danger">
        {% for error in form.errors.username %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
<div class="mb-3">
    <label for="password" class="form-label">Password:</label>
    <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
    {% if form and "password" in form.errors %}
    <ul class="text-danger">
        {% for error in form.errors.password %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>

{% endblock %}