{% load static %}

<div class="card">
    <div class="card-header">{{ answer.title }}
        {% if request.user.is_professional %}
            {% if request.user.professional_profile == answer.author %}
            <form action="{% url 'delete_answer' %}" method="post" onsubmit="return confirm('Are you sure you want to delete your answer?')">
                {% csrf_token %}
                <input type="hidden" name="delete_answer_id" value="{{ answer.id }}">
                <button class="btn btn-danger" type="submit">Delete</button>
            </form>
            {% endif %}
        {% endif %}
    </div>
    <div class="card-body">
        <p>Written by: <a href="{% url 'view_profile' answer.author.user.id %}">{{ answer.author.user.first_name }} {{ answer.author.user.last_name }}</a></p>
        <div class="post-content">{{ answer.content }}</div>
    </div>
    <div class="card-footer">
        {% if user.is_professional %}
        <button type="button" class="btn btn-primary thumbs-up-button" id="thumb-{{ answer.id }}" data-answer-id="{{ answer.id }}">
            <i class="bi bi-hand-thumbs-up"></i>
            <span>{{ answer.ratings.count }}</span>
        </button>
        {% else %}
        <div>
            <i class="bi bi-hand-thumbs-up"></i>
            <span>{{ answer.ratings.count }}</span>
        </div>
        {% endif %}
        <div class="toast" id="alreadyToast{{ answer.id }}">
            <div class="toast-header">
                <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
            </div>
            <div class="toast-body">
                You have already liked this answer!
            </div>
        </div>
    </div>
</div>