{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="container-fluid">
    <h5>Title: {{ post.title }}</h5>
    <p>Author: {{ post.author.user.username }}</p>
    <div>
        {{ post.content|linebreaks }}
    </div>
    <h5>Categories</h5>
    <ul>
        {% for category in post.categories.all %}
            <li>{{ category.name }}</li>
        {% endfor %}
    </ul>
    
    <!--Code for the answering of posts-->
    {% if request.user.is_professional %}
    
    <button type="button" class="btn btn-primary" id="write_answer_button">Write an answer</button>
    <div class="form-container" id="answer_form" hidden>
        {% include "post/answer_form.html" %}
    </div>
    {% endif %}
    
    <h5>Answers</h5>

    {% for answer in post.answers.all %}
        {% include "post/answer.html" with answer=answer %}
    {% endfor %}
</div>

<script src="{% static 'js/view_post.js' %}"></script>
<script src="{% static 'js/thumbs_up.js' %}"></script>

{% endblock %}