<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#{{ id }}">
    {% block button %}{% endblock %}
</button>

<!-- The Modal -->
<div class="modal" id="{{ id }}">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">{% block header %}{% endblock %}</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                {% block body %}{% endblock %}
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                {% block footer %}
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                {% endblock %}
            </div>

        </div>
    </div>
</div>