{% extends "base.html" %}


{% block content %}

<!--Note that the "profile_user" variable refers to the user of the
    profile page and not the user which is viewing the page-->

{% if profile_user.is_user %}
    {% include "profile_page/user_profile.html" with profile_user=profile_user %}
{% endif %}

{% if profile_user.is_professional %}
    {% include "profile_page/professional_profile.html" with profile_user=profile_user %}
{% endif %}

{% if profile_user.is_institution %}
    {% include "profile_page/institution_profile.html" with profile_user=profile_user %}
{% endif %}

{% endblock %}